*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background: url('./assets/blue-geometry-startpage_candy.jpg') no-repeat center top / cover;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3.9rem;
  font-weight: bold;
  text-align: center;
  color: #ffeeb5;
  text-shadow: 0 0 5px #04456b;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
